<h1>Seja Bem-Vindo!</h1>

<%= render "menu" %>

<p><strong>Data de hoje e hora atual:</strong> <%= date_and_time_br(Time.now) %></p>

<p>
  Você está em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
  Eu sou uma variável de instância/sessão: <strong><%= @nome %></strong>
  <br>
  Isso é um curso de <strong><%= @nomedocurso %></strong>
</p>